Seekers/nodered_flow.txt
[{"id":"5820e214.d8ffdc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a37cb86f.5a0688","type":"ui_button","z":"5820e214.d8ffdc","name":"","group":"7e4c7b5e.93dd74","order":3,"width":0,"height":0,"passthru":false,"label":"Light on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":363.1000061035156,"y":274.20001220703125,"wires":[["612fcb68.c67794","172685bc.99d12a"]]},{"id":"7640ca34.803914","type":"ui_button","z":"5820e214.d8ffdc","name":"","group":"7e4c7b5e.93dd74","order":4,"width":0,"height":0,"passthru":false,"label":"Light off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":372.10005950927734,"y":362.2000045776367,"wires":[["612fcb68.c67794","172685bc.99d12a"]]},{"id":"612fcb68.c67794","type":"ibmiot out","z":"5820e214.d8ffdc","authentication":"apiKey","apiKey":"6b6eda67.078b04","outputType":"cmd","deviceId":"8500","deviceType":"Vamsi","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":947.1000137329102,"y":800.8000345230103,"wires":[]},{"id":"172685bc.99d12a","type":"debug","z":"5820e214.d8ffdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620.1000595092773,"y":371.80001735687256,"wires":[]},{"id":"94e103eb.5c36f","type":"http in","z":"5820e214.d8ffdc","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":205.10000610351562,"y":474.00000381469727,"wires":[["8022a22b.ab888"]]},{"id":"f8cb4181.35668","type":"http response","z":"5820e214.d8ffdc","name":"","statusCode":"","headers":{},"x":660.1000595092773,"y":500.19999504089355,"wires":[]},{"id":"8022a22b.ab888","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=msg.payload.message\nreturn msg;","outputs":1,"noerr":0,"x":394.1000556945801,"y":477.19999504089355,"wires":[["f8cb4181.35668","172685bc.99d12a","612fcb68.c67794"]]},{"id":"b20fb12f.ef142","type":"watson-conversation-v1","z":"5820e214.d8ffdc","name":"vamsibot","workspaceid":"0c59479b-9870-4f41-a0cb-c25ed583939b","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"https://gateway-lon.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":210.10000610351562,"y":653.0000820159912,"wires":[["396f8c1a.813224"]]},{"id":"ba8cf4d0.4830c8","type":"debug","z":"5820e214.d8ffdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":916.1000137329102,"y":934.8000011444092,"wires":[]},{"id":"396f8c1a.813224","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":404.1000061035156,"y":633.6001310348511,"wires":[["3d083342.fb5cec"]]},{"id":"5d354987.8ebef8","type":"ui_form","z":"5820e214.d8ffdc","name":"","label":"","group":"7e4c7b5e.93dd74","order":7,"width":0,"height":0,"options":[{"label":"enter the input","value":"input","type":"text","required":true}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":59,"y":685.0000467300415,"wires":[["9f469476.7f79b8"]]},{"id":"9f469476.7f79b8","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=msg.payload.input\nreturn msg;","outputs":1,"noerr":0,"x":95.5,"y":748.0000095367432,"wires":[["3798cb65.9fa7b4","b20fb12f.ef142"]]},{"id":"3798cb65.9fa7b4","type":"ui_text","z":"5820e214.d8ffdc","group":"7e4c7b5e.93dd74","order":5,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":360.10000228881836,"y":683.0000343322754,"wires":[]},{"id":"3de987f7.0fc7c8","type":"ui_text","z":"5820e214.d8ffdc","group":"7e4c7b5e.93dd74","order":6,"width":0,"height":0,"name":"","label":"output","format":"{{msg.payload}}","layout":"row-spread","x":894.1000137329102,"y":1044.0000095367432,"wires":[]},{"id":"3d083342.fb5cec","type":"switch","z":"5820e214.d8ffdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"humidity","vt":"str"},{"t":"eq","v":"lighton","vt":"str"},{"t":"eq","v":"lightoff","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":475.50000381469727,"y":796.0000267028809,"wires":[["a97bd68.4d51728"],["9e139952.5c8e38"],["612fcb68.c67794"],["612fcb68.c67794"],["ba8cf4d0.4830c8","3de987f7.0fc7c8"]]},{"id":"9e139952.5c8e38","type":"function","z":"5820e214.d8ffdc","name":"humidity","func":"msg.payload=\"the humidity value is\"\nmsg.payload +=global.get(\"humidity\")\nreturn msg;","outputs":1,"noerr":0,"x":693.1000556945801,"y":838.2000102996826,"wires":[["ba8cf4d0.4830c8","3de987f7.0fc7c8"]]},{"id":"a97bd68.4d51728","type":"function","z":"5820e214.d8ffdc","name":"temperature","func":"msg.payload=\"the temperature value is\"\nmsg.payload +=global.get(\"temperature\")\nreturn msg;","outputs":1,"noerr":0,"x":708.1000556945801,"y":769.200008392334,"wires":[["ba8cf4d0.4830c8","3de987f7.0fc7c8"]]},{"id":"439cba47.8a43c4","type":"http in","z":"5820e214.d8ffdc","name":"","url":"/instruct","method":"get","upload":false,"swaggerDoc":"","x":179.0999984741211,"y":535.7999954223633,"wires":[["28f5a14.0b34f5e"]]},{"id":"28f5a14.0b34f5e","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=msg.payload.notify\nreturn msg;","outputs":1,"noerr":0,"x":422.1000556945801,"y":526.1999950408936,"wires":[["85a53ed2.c4d79","172685bc.99d12a","612fcb68.c67794"]]},{"id":"85a53ed2.c4d79","type":"http response","z":"5820e214.d8ffdc","name":"","statusCode":"","headers":{},"x":624.1000556945801,"y":558.399995803833,"wires":[]},{"id":"70f58b89.b31ed4","type":"http response","z":"5820e214.d8ffdc","name":"","statusCode":"","headers":{},"x":592.1000518798828,"y":611.0000324249268,"wires":[]},{"id":"812bdd75.a9f9b","type":"http in","z":"5820e214.d8ffdc","name":"","url":"/prescribe","method":"get","upload":false,"swaggerDoc":"","x":198.10000610351562,"y":588.3999938964844,"wires":[["6623e359.20e19c"]]},{"id":"6623e359.20e19c","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=msg.payload.report\nreturn msg;","outputs":1,"noerr":0,"x":398.1000061035156,"y":581.9999961853027,"wires":[["70f58b89.b31ed4","172685bc.99d12a","612fcb68.c67794"]]},{"id":"4c4d5024.a19ec","type":"http request","z":"5820e214.d8ffdc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=b8461b099c2b75a2fc9d27e4ed75c85a","tls":"","proxy":"","authType":"basic","x":376.50000762939453,"y":1194.600064098835,"wires":[["2e26cabb.879f86","88d1371c.db52b8"]]},{"id":"e1a51401.7e8578","type":"inject","z":"5820e214.d8ffdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":192.10000610351562,"y":1194.7999877929688,"wires":[["4c4d5024.a19ec"]]},{"id":"2e26cabb.879f86","type":"debug","z":"5820e214.d8ffdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750.1000576019287,"y":1159.7999444007874,"wires":[]},{"id":"88d1371c.db52b8","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=msg.payload.clouds.all\nreturn msg\n\n","outputs":1,"noerr":0,"x":366.50000762939453,"y":1281.7999458312988,"wires":[["2e26cabb.879f86","c4b8afd6.12ff7"]]},{"id":"c4b8afd6.12ff7","type":"switch","z":"5820e214.d8ffdc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"num"},{"t":"gte","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":488.50000762939453,"y":1336.4000434875488,"wires":[["cad4cfcc.df3ad"],["bf08628.ff7a7a"]]},{"id":"cad4cfcc.df3ad","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=\"1,speed limit is 20\"\nreturn msg;","outputs":1,"noerr":0,"x":538.5000076293945,"y":1034.3999943733215,"wires":[["612fcb68.c67794"]]},{"id":"bf08628.ff7a7a","type":"function","z":"5820e214.d8ffdc","name":"","func":"msg.payload=\"1,speed limit is 40\"\nreturn msg;","outputs":1,"noerr":0,"x":587.5000076293945,"y":1106.399995803833,"wires":[["612fcb68.c67794"]]},{"id":"7e4c7b5e.93dd74","type":"ui_group","z":"","name":"Default","tab":"91a1e2c0.d329b","disp":true,"width":"6","collapse":false},{"id":"6b6eda67.078b04","type":"ibmiot","z":"","name":"iotdevice","keepalive":"60","serverName":"bhip5y.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"91a1e2c0.d329b","type":"ui_tab","z":"","name":"bot","icon":"dashboard","disabled":false,"hidden":false}]